BASE_URL="http://0.0.0.0:4001"

# database master
DATABASE_NAME=pemilu_development
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_HOSTNAME=localhost
DATABASE_PORT="5432"
RAILS_MAX_THREADS="5"


TW_CONSUMER_KEY="blablabla"
TW_CONSUMER_SECRET="blebleble"
TW_YOUR_ACCESS_TOKEN="blobloblo"
TW_YOUR_ACCESS_SECRET="blublublu"

# API Doc setting
DOC_USERNAME="admin"
DOC_PASSWORD="admin"
API_DEBUGGING=true

# auth wrapper
AUTH_BASE_URL="https://staging-auth.pantaubersama.com"
VERIFY_ENDPOINT="/v1/valid_token/verify"