BASE_URL="http://0.0.0.0:4001"

# database master
DATABASE_NAME=pemilu_development
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_HOSTNAME=localhost
DATABASE_PORT="5432"
RAILS_MAX_THREADS="5"


TW_CONSUMER_KEY="blablabla"
TW_CONSUMER_SECRET="blebleble"
TW_YOUR_ACCESS_TOKEN="blobloblo"
TW_YOUR_ACCESS_SECRET="blublublu"

# API Doc setting
DOC_USERNAME="admin"
DOC_PASSWORD="admin"
API_DEBUGGING=true

# auth wrapper
AUTH_BASE_URL="https://staging-auth.pantaubersama.com"
VERIFY_ENDPOINT="/v1/valid_token/verify"

# Internal API
PANTAU_AUTH_KEY="7407d1827fb710d3acbf3591b719f853beb894aff026d45f339986ee45dae2a3"

# Elastic search
ELASTICSEARCH_URL = "http://localhost:9200"
ELASTICSEARCH_AUTH_URL = "http://127.0.0.1:9200"

# redis
REDIS_SERVER_URL="redis://127.0.0.1:6379/0"
REDIS_CLIENT_URL="redis://127.0.0.1:6379/0"

# SNEAKERS
RABBITMQ_URL='amqp://guest:guest@localhost:5672'
SNEAKERS_WORKERS_COUNT=3
SNEAKERS_LOG_FILE="/Users/yunanhelmy/Locals/Projects/pantau-group/api/pemilu/log/sneakers.log"
SNEAKERS_PID_FILE="/Users/yunanhelmy/Locals/Projects/pantau-group/api/pemilu/tmp/pids/sneakers.pid"

# tmp for image processor
QUIZ_RESULT_TMP_PATH="/tmp/quiz_result"
TOTAL_QUIZ_RESULT_TMP_PATH="/tmp/total_quiz_result"
